*, *::before, *::after {
    font-family: "chalky", sans-serif; /* sets the default font to Chalky */
    color: white; /* sets the default text color to white for improved visibility */
}

body {
    display: flex;
    justify-content: space-between;  /* distributes remaining space evenly around the items */
    align-items: center;  /* vertically aligns items in their containers */
    background-image: url('chalkboardbackround.jpeg');  
    background-size: cover; 
    background-repeat: no-repeat; 
}

button {
    padding: 1vw;  /* Adjust as necessary */ 
    border: .75vw solid rgb(113, 74, 23);  /* Adjust as necessary */ 
    Border-radius: .6vw;  /* Adjust as necessary */
    box-shadow: 0 0 1vw rgb(255, 255, 255);  /* Adjust as necessary */
    background-image: url('button.jpeg');
    background-size: cover; /* scales the image to fit the container */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    font-size: 2vw;
    padding: 1;
}

#main-content, #right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-content {
    flex: 1;  /* allows the container to grow and shrink as necessary to take up available space */
}

#quiz-content, #header-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;  /* makes these sections take up the full width of their container */
}

#header-container {
    font-size: 3vw; 
}

#right-panel {
    width: 20%;  /* adjust as needed to control the width of the right panel */
}

#highscores-list {
    list-style-type: none;  /* removes the bullet points from the list */
    padding-left: 0;  /* removes the space from bullet points from the list */
    text-align: center;  /* centers the text in the list */
}

#quiz-content {
    font-size: 3vw;  /* Adjust as necessary */
}

#timer {
    font-size: 2.5vw;  /* Adjust as necessary */
}

#highscores {
    font-size: 2.5vw;  /* Adjust as necessary */
}

#highscores-list li {
    font-size: 2vw;  /* Adjust as necessary */
}

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75vw; /* adjust this value as needed for spacing between buttons */
    width: 100%; /* adjust as needed */
}

#score-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25vw;
}
